@import '../../styles/colors';

.loader {
  display: inline-flex;
  border: 2px solid transparent;
  margin: 2px;
  animation: rotateSpinner .7s 0s linear infinite;
  border-top-color: $blue-color;
  border-radius: 100%;
  width: 36px;
  height: 36px;


  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes rotateSpinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}