@import '../../styles/colors';
@import '../../styles/variables';

.button {
  background-color: $blue-color;
  border: 1px solid $blue-color;
  box-shadow: 0 1px 0 0 $blue-color, 0 2px 3px 0 rgba(0,0,0,.25);
  border-radius: $border-radius-sm;
  color: $white-color;
  display: block;
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
  font-size: .875rem;
  text-transform: uppercase;
  text-align: center;
  transition: background-color .3s;
  cursor: pointer;

  &:hover {
    background-color: $blue-color--hover;
  }
}