@import '../../styles/colors';
@import '../../styles/variables';

.error {
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  &__logo {
    width: 75px;
    height: 75px;
  }

  &__button {
    padding: 10px 20px;
    color: $white-color;
    text-transform: uppercase;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
    background-color: $blue-color;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color .3s;

    &:hover {
      background-color: $blue-color--hover;
    }
  }
}