@import '../../../styles/colors';
@import '../../../styles/variables';

.transfer-filter {
  padding: 20px 0;
  margin-bottom: 20px;
  border-radius: $border-radius-sm;
  background-color: $card-color;
  box-shadow: $box-shadow-sm;
  position: sticky;
  top: 20px;

  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $text-color;
    padding: 0 20px 20px;
  }
}