@import '../../styles/variables';
@import '../../styles/colors';

.ticket {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: $border-radius-sm;
  background-color: $card-color;
  box-shadow: $box-shadow-sm;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: $blue-color;
  }

  &__carrier {
    &-img {
      width: auto;
      max-height: 30px;
    }
  }

  &__segment {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__flight {

    &:not(:last-child) {
      min-width: 80px;
    }

    &:last-child {
      min-width: 100px;
    }

    &-label {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $gray-color;
    }

    &-value {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $text-color;
    }
  }
}