$white-color: #FFFFFF;
$background-color: #f3f7fa;
$card-color: $white-color;
$checkbox-hover-color: #F1FCFF;
$text-color: #4A4A4A;
$blue-color: #2196F3;
$blue-color--hover: #64b5f5;
$gray-color: #A0B0B9;