@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'colors.scss';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: $background-color;
}

