@import '../../styles/colors';
@import '../../styles/variables';

.segment-control {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  height: 50px;

  &__tab {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: $white-color;
    border: 1px solid #DFE5EC;

    &--active {
      background: $blue-color;
      color: $white-color;
      border: 1px solid $blue-color;
    }

    &:first-child {
      border-radius: $border-radius-sm 0 0 $border-radius-sm;
    }

    &:last-child {
      border-left-width: 0;
      border-radius: 0 $border-radius-sm $border-radius-sm 0;
    }
  }
}