.tickets {
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 760px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;

    &.loading {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 600px) {
  .tickets {
    margin: 0 10px;
    
    &__container {
      grid-template-columns: 1fr;
    }
  }
}